{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
}
header{
  background-color: #BBEC64;
}
.wrap{
  max-width: 11440px;
  margin: 0 auto;
  padding: 0 50px;
}
.clearfix{
  clear: both;
  content: "";
  display: table;
}
.main-header{
  width: 100%;
}
.left{
  float: left;
  padding-top: 13px;
  padding-bottom: 30px;
}
.right{
  float: right;


}
.right ul li {
  display: inline-block;
  padding: 10px 15px 5px 15px;
  font-size: 17px;
  font-family: 'Ubuntu', sans-serif;

}
.right a{
  text-decoration: none;
  color: #000;
}
.right a:hover{
  color: #FFFFFF;
}
.banner{
  position: relative;
}
.banner img{
  width: 100%;
  height: 500px;
}
.banner-content{
  position: absolute;
  transform: translate(59%, -197%);
  color: #FFFFFF;
  font-size: 33px;
}
h1{
  padding-top: 30px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 900;
}
.card-section{
  margin: 30px 0;
}
h2{
  padding-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
}
.column{
  width: 23%;
  float: left;
  text-align: center;
  background-color: #BBEC64;
  margin: 11px;
}
.column img{
  padding-top: 30px;
  padding-bottom: 30px;
  height: 50px;
}
.card-pera{
  padding: 30px;
  font-family: 'Ubuntu', sans-serif;
}
.img-border{
  border-top: 10px solid white;

}
/* section trending projecT */
.extras{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.sction-title{
  text-align: center;
}
.section-heading{
  padding-top: 30px;
  padding-bottom: 20px;
  font-weight: bold;
}
.section-pera{
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}
.section-column{
  width: 23%;
  float: left;
  margin: 11px;
}
.img-heading{
  font-family: 'Ubuntu', sans-serif;
  padding: 10px 0;
}
.img-section-trending{
  width: 100%;
  border-radius: 10%;
}
.img-content{
  font-family: 'Ubuntu', sans-serif;
}

/* recent properties  */
.recent-properties{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  background-color: #BBEC64;
}

.section_title{
  text-align: center;

}
.section_heading{
  padding-top: 30px;
  padding-bottom: 20px;
  font-weight: bold;
  text-align: center;
}
.section_pera{
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}
.section_column{
  width: 23%;
  float: left;
  margin: 62px;
}

.img_heading{
  font-family: 'Ubuntu', sans-serif;
  padding: 10px 0;
}
.img-recent-properties{
  width: 100%;
  border-radius: 10%;
}
.img_content{
  font-family: 'Ubuntu', sans-serif;
}
.sub{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  background-color: #BBEC64;
}


/* our company */


.our-company{
  margin-bottom: 90px;
  }
  .company-description{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
  }
  .company-description-pera{
    padding-top: 10px;
    font-size: 17px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
  }

  .our-company-row{
    width: 100%;
  }
  .our-company-column{
    width: 48%;
    float: left;
    margin: 0 8px;
  }
  .about-text{
    line-height: 1.5;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
  }
  .list{
    margin-top: 15px;
    padding-left: 0;
  }
  .list li{
    list-style: none;
    margin-top: 10px;
  }
  .arrow-point{
    float: left;
    height: 20px;
  }
  .points{
    padding-left: 30px;
  }
  .myButton{
  box-shadow: 0px 10px 14px -7px #3e7327;
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	background-color:#77b55a;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.myButton:hover {
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	background-color:#72b352;
}
.myButton:active {
	position:relative;
	top:1px;
}
.our-company-img{
  margin-top: 20px;
  height: 290px;
}

/* footer */


.footer-background{
  background-color: #000000;
  /* font-family: 'Ubuntu', sans-serif; */
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.column-footer {
  width: 15%;
  float: left;
  margin: 60px;

}
h5{
  color: #97FF66;
  font-family: 'Ubuntu', sans-serif;
}
.Company-address{
  font-family: 'Ubuntu', sans-serif;
  color: #ffff;
  line-height: 1.5;
}
.company-phone{
  color: #ffff;
  line-height: 1.5;
}
.footer-list{
  margin-top: 15px;
  padding-left: 0;
}
.footer-list li{
  list-style: none;
  margin-top: 10px;

}
.footer-list li a{
  text-decoration: none;
  color: #ffff;
}
.list-items{
  line-height: 1.5;
}
.footer-links{
  font-family: 'Ubuntu', sans-serif;
}
.column-footer a:hover{
color: #97ff66;
}
